* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #b30000;
}

header#cabecalho-principal{
    background-color: #ddd;
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    
}

#pontuacao-game {
    background-color: #61b1ea;
    padding: 10px;
    color: white;
    border-radius: 30px;
    padding: 3px 50px;

    font-size: 20px;
    margin-left: 15px;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pontuacao-game img {
    margin-right: 15px;
}


#nome-jogo {
    font-weight: bolder;
    font-size: 27px;
}

section#corpo {
    display: flex;
    flex-direction: row;
    margin-top: 15px;    
}

/* section#corpo div#direita {            
    
} */

section#corpo div#esquerda {  
    
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    width: 60%;        
}

section#corpo div#esquerda div#cor-atual {
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border: 7px solid black;
    border-radius: 10px;
}

section#corpo div#esquerda button#btn-responder {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    margin-top: 10px;

    font-size: 20px;
    font-weight: bolder;
    color: white;
    padding: 15px 45px;
}

div#container footer#rodape {
    background-color: rgb(26,26,32);
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;    
    height: 160px;
    align-items: center;
}